#stock-tickers-wrapper {
  .input-days-wrapper, .add-value-btn {
    margin-bottom: 10px;
  }
}

#stock-prices-chart-wrapper {
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis {
    font-size: 0.5em
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

}